<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Zailand</title>
  </head>
  <body>
    <iframe src="https://zailandpc.luiscraftyt3.repl.co/" href="javascript:void({{kaboom}})" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" sandbox="allow-scripts" sandbox="allow-top-navigation-by-user-activation" sandbox="allow-top-navigation" sandbox="allow-presentation" sandbox="allow-popups"> Your browser doesn't support iframes </iframe>
  </body>
</html>


